body{background:gray;}
/*#ecf0f1*/
a {
    text-decoration: none;
}
.firstLine {
    padding-left: -30px;
    margin-left: -30px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: orange;
    font-family:Audiowide;
}
.secondLine {
    font-size: 36px;
    line-height: 32px;
    font-weight: 600;
    color: black;
}
.thirdLine {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: darkorange;
}
.fourthLine {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    position: relative;
    top: -10px;
    color: orange;
}

.badges {
    position: relative;
    margin: 140px auto;
    width: 200px;
    height: 200px;
    background: slategray;
    border-radius: 100%;
    color: black;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Audiowide",Audiowide;
    -webkit-animation: 3s ease-in-out 0s normal none infinite running swing;
    -moz-animation: 3s ease-in-out 0s normal none infinite running swing;
    -o-animation: 3s ease-in-out 0s normal none infinite running swing;
    animation: 3s ease-in-out 0s normal none infinite running swing;
    -webkit-transform-origin: 100px -71px;
    -moz-transform-origin: 100px -71px;
    -o-transform-origin: 100px -71px;
    transform-origin: 100px -71px;
}
    .badges:before {
        content: '';
        position: absolute;
        top: 90px;
        left: 90px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        -webkit-box-shadow: 0px -82px 0px -2px #fff, 0px -100px orange,20px -98px orange,39px -94px orange,56px -85px orange,71px -72px orange, 83px -57px orange,93px -40px lightsalmon,98px -20px lightsalmon,100px 0px lightsalmon, -20px -98px lightsalmon,-39px -94px lightsalmon,-71px -72px lightsalmon, -56px -85px #552F87,-83px -57px #552F87,-93px -40px #552F87,-98px -20px #552F87,-100px 0px #552F87, 0px 100px #552F87,-20px 98px #552F87,-39px 94px #552F87,-56px 85px #552F87, -71px 72px #552F87,-83px 57px #552F87,-93px -40px #552F87,-98px 20px #552F87,-93px 40px #552F87, 20px 98px #552F87,39px 94px #552F87,56px 85px #552F87, 71px 72px #552F87,83px 57px #552F87,93px 40px #552F87,98px 20px #552F87;
        -moz-box-shadow: 0px -82px 0px -2px #fff, 0px -100px lightsalmon,20px -98px orange,39px -94px orange,56px -85px orange,71px -72px orange, 83px -57px orange,93px -40px lightsalmon,98px -20px lightsalmon,100px 0px lightsalmon, -20px -98px lightsalmon,-39px -94px lightsalmon,-71px -72px lightsalmon, -56px -85px lightsalmon,-83px -57px #552F87,-93px -40px #552F87,-98px -20px #552F87,-100px 0px #552F87, 0px 100px #552F87,-20px 98px #552F87,-39px 94px #552F87,-56px 85px #552F87, -71px 72px #552F87,-83px 57px #552F87,-93px -40px #552F87,-98px 20px #552F87,-93px 40px #552F87, 20px 98px #552F87,39px 94px #552F87,56px 85px #552F87, 71px 72px #552F87,83px 57px #552F87,93px 40px #552F87,98px 20px #552F87;
        -o-box-shadow: 0px -82px 0px -2px #fff, 0px -100px orange,20px -98px orange,39px -94px orange,56px -85px orange,71px -72px orange, 83px -57px orange,93px -40px lightsalmon,98px -20px lightsalmon,100px 0px lightsalmon, -20px -98px lightsalmon,-39px -94px lightsalmon,-71px -72px lightsalmon, -56px -85px lightsalmon,-83px -57px #552F87,-93px -40px #552F87,-98px -20px #552F87,-100px 0px #552F87, 0px 100px #552F87,-20px 98px #552F87,-39px 94px #552F87,-56px 85px #552F87, -71px 72px #552F87,-83px 57px #552F87,-93px -40px #552F87,-98px 20px #552F87,-93px 40px #552F87, 20px 98px #552F87,39px 94px #552F87,56px 85px #552F87, 71px 72px #552F87,83px 57px #552F87,93px 40px #552F87,98px 20px #552F87;
        box-shadow: 0px -82px 0px -2px #fff, 0px -100px orange,20px -98px orange,39px -94px lightsalmon,56px -85px lightsalmon,71px -72px lightsalmon, 83px -57px lightsalmon,93px -40px lightsalmon,98px -20px lightsalmon,100px 0px lightsalmon, -20px -98px orange,-39px -94px orange,-71px -72px orange, -56px -85px orange,-83px -57px orange,-93px -40px orange,-98px -20px orange,-100px 0px orange, 0px 100px lightsalmon,-20px 98px lightsalmon, -39px 94px orange,-56px 85px orange, -71px 72px orange,-83px 57px orange,-93px -40px orange,-98px 20px orange, -93px 40px orange, 20px 98px lightsalmon, 39px 94px lightsalmon,56px 85px lightsalmon, 71px 72px lightsalmon,83px 57px lightsalmon,93px 40px lightsalmon,98px 20px lightsalmon;
    }
.badges:after{
    content:'';
    position:absolute;
    top:-70px;left:99px;
    width:2px;height:81px;
    border-radius:0%;
    background:gray;
}

@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(5deg);}
    50%{-webkit-transform:rotate(-5deg);}
    100%{-webkit-transform:rotate(5deg);}
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(5deg);}
    50%{-moz-transform:rotate(-5deg);}
    100%{-moz-transform:rotate(5deg);}
}
@-o-keyframes swing{
    0%{-o-transform:rotate(5deg);}
    50%{-o-transform:rotate(-5deg);}
    100%{-o-transform:rotate(5deg);}
}
@keyframes swing{
    0%{transform:rotate(5deg);}
    50%{transform:rotate(-5deg);}
    100%{transform:rotate(5deg);}
}